 img{
padding: 5px;
/* max-width: 375px; */
border-radius: 10px;

}



p{
   max-width: 75px;
}

#gif-form{
padding: 2px;
}


#select-gif{
    background-color: #E5EAEE;
    box-shadow: 1px 1px;
}
#select-gif:hover{
    background-color: #A8DBDE;
    box-shadow: 1px 1px;
}

button{
    background-color: #E5EAEE;
    box-shadow: 1px 1px;
    margin-bottom: 5px;
    padding: 2px;
    border-radius: 7px;
}
select-gif{
border-radius: 7px;
}



button:hover{
    background-color: #A8DBDE;
    box-shadow: 1px 1px;
}



.gif-div{
background-color: pink;
margin: 10px;
padding: 10px;

}



