.box{
    background-color: #EDCECB;
    padding: 5px;
    width: fit-content;
    margin: auto;
}

img{
padding: 5px;
max-width: 400px;
border-radius: 10px;

}

#gif-form{
padding: 2px;
}


#select-gif{
    background-color: #E5EAEE;
    box-shadow: 1px 1px;
}
#select-gif:hover{
    background-color: #A8DBDE;
    box-shadow: 1px 1px;
}

button{
    background-color: #E5EAEE;
    box-shadow: 1px 1px;
}

button:hover{
    background-color: #A8DBDE;
    box-shadow: 1px 1px;
}




.box-1{

}

p {
    width: 100px;
}